{% extends "sale/nav.html"%}
{% block content%}
<section id="sec1">

    <div class="slider">
        <div class="slide-container">
            <div class="slides" id="intro">
                <p><b>Hey there!</b><br>
                    Welcome to <b>DebFocus</b><br>
                    Here, we provide the best IT services such as<br>
                    <i>Cloud computing, Web applications, Database management system and cybersecurity services</i>.
                </p>
            </div>
            <div class="slides" id="cloud">
                <p><b>Cloud computing</b><br>
                    We provide cloud services such as <i>Migration, cloud security, Architecting</i> and
                    <i>provision, developing</i> and <i>administration of databases on cloud platform.</i> Finally,
                    infrustracture as code.
                </p>
            </div>
            <div class="slides" id="web">
                <p><b>Web Applications</b><br>
                    We develop <i>Microservices</i> and <i>Containerizations</i> web apps on cloud platforms and
                    also,
                    management of web apps. Following all Usability for design approach to design making us bring the best of design and user interaction as well.
                </p>
            </div>
            <div class="slides" id="database">
                <p><b>Database</b><br>
                    We also <i>Design, Develop</i> and <i>manage</i> your Databases as well.
                </p>
            </div>
            <div class="slides" id="devopps">
                <p><b>Devopps</b><br>
                    We provide <i>Devopps</i> solutions such as <i>CICD</i> and others.
                </p>
            </div>
        </div>
    </div>
  
    <svg id="curve" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 238">
        <path
            d="M0,192L80,165.3C160,139,320,85,480,101.3C640,117,800,203,960,224C1120,245,1280,203,1360,181.3L1440,160L1440,320L1360,320C1280,320,1120,320,960,320C800,320,640,320,480,320C320,320,160,320,80,320L0,320Z">
        </path>
    </svg>
  </section>
  <div class="socialmedia">
    <div class="facebook">
        <!-- <a href="https://facebook.com/debfocus2"> -->
            <i class="fa fa-facebook" aria-hidden="true"></i>
        </a>
    </div>
    <div class="twitter">
        <!-- <a href="https://twitter.com/debfocus2"> -->
            <span><i class="fa fa-twitter" aria-hidden="true"></i></span>
        </a>
    </div>
    <div class="instagram">
        <!-- <a href="https://instagram.com/debfocus3"> -->
            <span><i class="fa fa-instagram" aria-hidden="true"></i></span>
            </a>
    </div>
    <div class="linked">
        <a href="https://linkedin.com/debfocus2">
        <span><i class="fa fa-linkedin" aria-hidden="true"></i></span>
        </a>
    </div>
  </div>
  <div class="container">
    <section>
        <h1>Special areas <hr></h1>
            <article>
                <h2>cloud computing</h2>
                    <p>
                    Cloud computing is the delivery of on-demand computing services -- from applications to storage and processing power --
                    typically over the internet and on a pay-as-you-go basis.
                    <br>
                    Rather than owning their own computing infrastructure or data centers, companies can rent access to anything from
                    applications to storage from a cloud service provider.
                    One benefit of using cloud computing services is that firms can avoid the upfront cost and complexity of owning and
                    maintaining their own IT infrastructure, and instead simply pay for what they use, when they use it.
                    <br>
                    Building the infrastructure to support cloud computing now accounts for more than a third of all IT spending worldwide,
                    according to research from IDC. Meanwhile spending on traditional, in-house IT continues to slide as computing workloads
                    continue to move to the cloud, whether that is public cloud services offered by vendors or private clouds built by
                    enterprises themselves.
                    
                    451 Research predicts that around one-third of enterprise IT spending will be on hosting and cloud services this year
                    "indicating a growing reliance on external sources of infrastructure, application, management and security services".
                    <br>
                    Our aim is to help companies migrate from on premise to the cloud taking advantage over all the cloud
                    resources needed
                    for the organization to run effectively such as databases, storage, etc. We also put into consideration
                    cost, security,
                    networking, high availability and fail over that will help the organization to concentrate on their daily
                    activities
                    rather than focusing on their infrastructure
                    </p>
            </article>
            <article>
                <h2>cyber security</h2>
                    <p>In terms of building applications for our users or customers, they are served with security best practices to the
                    maximum keep up to prevent daily attacks from other hackers.
                    Highly skilled certified Cybersecurity personnels bring to your service all kinds of penetration testing and helping you
                    attain a high level of security to reduce the risk level in your organization or platform. We train organizations about
                    security awareness and the need to put them in full practice. Reports and debriefs are provided at the end of every
                    penetration testing educating you on the impact of risk and threats to your organization and the mitigation steps one
                    must keep up.
                    <br>
                    In building of web platforms, we keep up with the OWASP top ten to keep up with the security of the platform.
                    For your Organization's Penetration testing of all forms, we are the best to look up to.
                    </p>
            </article>
            <article>
                <h2>Web development</h2>
                    <p>Web development is the work involved in developing a website for the Internet or an intranet. Web development can range
                    from developing a simple single static page of plain text to complex web-based internet applications, electronic
                    businesses, and social network services.
                    We provide you all the web services you want such as creating a static website, developing a web applications, migrating your web application to a different
                    framework (eg. nodejs, python django, Asp.Net), web content management and many more. 
                    <br>
                    For every development of a static web page or web application, we consider the essential principles of Designing for usability. This is to help users of the 
                    application find less difficulty in using the appliction for the first time and also, increase recognition rather than recall the next time they visit the web application.
                    Much evaluation is than to ensure user satisfaction and moreover, to win the users interest.
                    </p>
            </article>
            
            
    </section>
  </div>
  <section class=" container teamzone">
    <div class="about">
        <h1>Services
            <hr>
        </h1>
        <div class="mission">
            <h2>Sales Management System(DebSale)</h2>
            <p>
              "Do you need a management system to keep track of all your 
              resources in your warehouse and shops, not just one shop
              but as many shops that you have which can be from one to
              hundred or more, then smart app is the way for you.With smart app
              you can keep track of all your resources in your warehouse and other shops
              with just a single interface.No need for many manual work everything is completelly
              automated all you have to do is to
              just visit debfocus.com,on the nav bar click on register then fill in all the necessarry informations
              then we'll get back to you thank you."
            </p>
        </div>
        </section>
  
  <!-- Chart Section -->
  <section class="chart">
    
    <header class="case" style="background: url(/static/sale/images/sal.png);">
        <h1>Deb<span >Sale</span></h1>
        <p>Sales database m<span>anagement system</span> for inventory</p>
        <div class="btn">
        <a href="{% url 'sale:about' %}">Read more</a>
    </header>
    <div class="social media-content-a">
      <h2>f</h2>
      <div>
      <p>followers</p>
      </div>
    </div>
    <div class="social media-content-b">
      <h2>t</h2>
      <div>
      <p>followers</p>
      </div>
    </div>
  
  </section>
  
  
 {% endblock%}